* {
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 50vh;
  border: 0.5rem solid white;
  padding: 10px;
  border-radius: 12px;
  max-width: 700px;
  font-size: calc(10px + 2vmin);
}

.poke-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#left-div {
  display: column;
  /* max-width: 40vw; */
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px dashed white;
}

#right-div {
  /* max-width: 60vw; */
  width: 50%;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 2px dashed white;
}

.logo {
  height: 17vmin;
  pointer-events: none;
}

/* Badge Images */
#badge-images-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  width: 98%;
}

.badge-images {
  padding: 5px;
  width: 70px;
  height: 90px;
  text-align: center;
}

#indiv-badge-div {
  padding: 0;
  margin: 0;
}

/* Buttons */
.search-button {
  /* width: auto; */
  max-width: 50%;
  height: 25px;
  width: 100px;
}

#type-button {
  border-radius: 12px 0px 0px 12px;
  border: 0px;
}

#weakness-button {
  border-radius: 0px 12px 12px 0px;
  border: 0px;
}

.bg-red {
  background-color: rgb(255, 0, 0);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

/* Pokemon Images */
#pokemon-div {
  display: flex;
  width: 100%;
  padding-left: 10px;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  border-radius: 12px;
  background-color: #434a58;
}

#indiv-pokemon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 50%;
}

.pokemon-images {
  padding: 7px;
  width: 85px;
  height: 100px;
}

.under-img {
  padding: 3px;
  font-size: 18px;
}

@media only screen and (max-width: 750px) {
  /* info divs */

  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #info {
    font-size: 16px; /* Adjust the font size to your preference */
    flex-direction: column;
    width: 73vw;
    max-height: 58vh;
    /* overflow: hidden; */
    padding: 2px;
    max-width: 100vw;
  }

  #left-div {
    display: row;
    min-height: 70%;
    width: 100%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-right: 0px;
    overflow: auto;
  }

  #right-div {
    /* max-width: 60vw; */
    display: row;
    width: 100%;
    min-height: 30%;
    padding-right: 3px;
    padding-left: 3px;
    border-left: 0px;
    overflow: scroll;
  }

  /* buttons */

  .search-button {
    /* width: auto; */
    width: 75px;
    height: 20px;
    font-size: 11px;
  }

  /* Pokemon Right Div Label */
  #pokemon-label-div {
    padding: 2px;
  }

  #pokemon-div {
    padding: 2px;
    height: 100%;
  }

  /* badges */

  #badge-images-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    width: 98%;
    height: 45%;
  }

  .badge-images {
    width: 50px; /* Adjust the width to your preference */
    height: 60px; /* Adjust the height to your preference */
  }

  /* pokemon divs */

  #indiv-pokemon-div {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    width: 25%;
  }

  .pokemon-images {
    padding: 7px;
    width: 65px;
    height: 70px;
  }
}

@media screen and (max-width: 400px) {
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #info {
    font-size: 16px; /* Adjust the font size to your preference */
    flex-direction: column;
    width: 73vw;
    max-height: 58vh;
    /* overflow: hidden; */
    padding: 2px;
    max-width: 100vw;
  }

  #left-div {
    display: row;
    min-height: 45%;
    width: 100%;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-right: 0px;
    overflow: auto;
  }

  #right-div {
    /* max-width: 60vw; */
    display: row;
    width: 100%;
    max-height: 40%;
    margin-top: 10px;
    padding-right: 3px;
    padding-left: 3px;
    border-left: 0px;
    overflow: scroll;
  }

  #indiv-pokemon-div {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    width: 24%;
  }
}
