.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/


#nav-images {
  height: 50px;
  width: 45px;
  display: inline;
}

#nav-images-div {
  display: inline;
}

#poke-images {
  display: inline;
}

#typeButton {
  border-radius: 12px 0px 0px 12px;
  border: 0px;
}

#nameButton {
  border: 0px;
}

#weaknessBtn {
  border-radius: 0px 12px 12px 0px;
  border: 0px;
}

.bg-red {
  background-color: rgb(255, 0, 0)
}

.search-button {
  width: 175px;
  height: 35px;
}

.types-images {
  padding: 5px;
  width: 100px;
  height: 125px;
}

#poke-images {
  display: inline;
}

#poke-images-div {
  display: inline;
}

.types-img {
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
